.modal {
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContent {
    width: 410px;
    padding: 16px 20px 5px;
    background-color: white;
}
.closeModal {
    display: flex;
    font-size: 22px;
    flex-direction: row-reverse;
}
.formTitle {
    font-size: 27px;
    margin-bottom: 10px;
}
.close {
    cursor: pointer;
    margin-bottom: 10px;
    color: rgba(42,42,42,255);
}
.loginLabel {
    color: #b9b9b9;
    margin-bottom: 4px;
    font-size: 18px;
}
span.required {
    color: red;
}
textarea.descrription-textarea {
    width: 100%;
    height: 58px;
    resize: none;
    outline: none;
    border-radius: 4px;
}
input.loginInput {
    width: 100%;
    height: 25px;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
}
    .errorMsg {
        margin: 5px 0px 4px;
        color: red;
        font-size: 15px;
    }

.submitButton {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
}
.save {
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 1px;
    font-size: 16px;
    padding: 7px 19px;
    text-align: center;
}