.formHead {
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 2px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.formName {
    font-size: 22px;
}
.saveForm,.cancel{
    background-color: blue;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 6px;
    font-size: 14px;
    width: 66px;
    text-align: center;
    padding: 9px 0px;
    margin-right: 10px;
}

