.title {
    font-size: 19px;
}
.Header {
    padding: 7px;
    display: flex;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 5px;
    align-items: center;
    justify-content: space-between;
}
.addFile {
    background-color: #fe868e;
    border-radius: 50%;
    color: white;
    padding: 9px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}