.dragcontent {
    display: flex;
    align-items: center;
    margin-left: 87px;
   
    margin-top: 10px;
    align-items: center;
}

.fieldTag {
    background-color: white;
    width: 83%;
    position: relative;
    border: 1px solid orange;
}
.logo_label {
    display: flex;
    padding: 5px;
    width: 97%;
    align-items: center;
}
.logo {
    background-color: red;
    padding: 6px 6px;
    color: white;
}
.editLabel {
    width: 95%;
}   
.changeLabel {
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    height: 24px;
}
.addvalue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.add {
    font-size: 14px;
    color: blue;
    cursor: pointer;
}

span.addButton {
    border: 1px solid blue;
    border-radius: 50%;
    padding: 0px;
    margin-right: 3px;
}
.deletedata {
    display: flex;
     background-color: #dee4ea;;
    padding: ma;
    margin: 14px 74px;
    padding: 4px;
}
.setLabel {
    width: 100%;
    border: none;
    outline: none;
    height: 18px;
    background-color: inherit;
}
.deleteItem {
    cursor: pointer;
    position: absolute;
    background-color: white;
    right: 0px;
    margin-top: -8px;
    margin-right: -5px;
}

div {
    display: block;
}
i.far.fa-times-circle {
    color: red;
}
.deletessubData {
    cursor: pointer;
    display: none;
}
.dragSymbols,.deleteItem{
    display: none;
}
.fieldTag:hover .deleteItem ,.fieldTag:hover .dragSymbols,.deletedata:hover .deletessubData {
    display: block;
}