.sideContent {
    margin-bottom: 15px;
    display: flex;
    padding: 6px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}   
.sideBar {
    width: 15%;
    background-color: #f5f6fa;
    padding: 8px;
}
.logo {
    background-color: red;
    padding: 6px 6px;
    color: white;
}
span.logoItems {
    border: 1px solid;
    padding: 3px;
}
.advancesOption {
    display: flex;
    background-color: white;
    margin-bottom: 11px;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    cursor: pointer;
}
.formContents {
    display: flex;
}
// .dragContainer {
//     width: 60%;
//     height: 100vh;
//     background-color: antiquewhite;
// }
.dragContainer {
    width: 60%;
    margin: 15px;
    background-color: #f8f9fa;
}
.mobilelayout {
    width: 186px;
    border: 17px solid #3f4857;
    padding: 24px 15px 0px 11px;
    height: 400px;
    margin-top: 36px;
    overflow: auto;
    position: relative;
    border-radius: 41px;
}

.camera {
    position: absolute;
    border: 12px solid #3f4857;
    width: 70px;
    margin-left: 51px;
    border-radius: 12px;
    margin-top: -33px;
}
.mobileContent {
    margin-bottom: 6px;
}
textarea.textarea {
    width: 100%;
    resize: none;
    height: 36px;
}
video {
    width: 100%;
}
audio {
    width: 100%;
    height: 37px;
}
select.selectField {
    width: 100%;
}
.requiredField {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
}
.requiredFieldContents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
// .field {
//     background-color: aquamarine;
//     padding: 5px;
//     cursor: pointer;        
//     border: 2px dashed;
// }
.field {
    cursor: pointer;
}
.requiredCheck {
    margin-left: 8px;
    margin-top: 5px;
}
.mobilelayout::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .mobilelayout  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .mobilelayout::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }