.noFiles {
    display: flex;
    margin-top: 12px;
    justify-content: center;
}
.filename {
    padding: 10px;
    background-color: aliceblue;
}
.filecontents {
    display: flex;
    height: 100px;
    position: relative;
    width: 200px;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 14px;
    margin: 10px;
    box-shadow: 0px 2px 7px grey;
}
.filelists {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14px;
}
.deleteContent {
    position: absolute;
    background-color: white;
    right: 14px;
    padding: 2px;
    display: block;
    top: 38px;

}
.editTable {
    font-size: 13px;
    padding: 8px 11px 2px;
    text-align: center;
    border-bottom: 1px solid gray;

}
.editTable:hover{
   cursor: pointer;
    background-color: #837a96;
    color: white;
}
.sidemenu {
    width: 20px;
    text-align: center;
    padding: 6px;
    cursor: pointer;        
    height: 20px;
    border-radius: 50%;
}
.sidemenu:hover .deleteContent {
    display: block;
}